<script src="../js/ready-libraries/papaparse/papaparse.min.js"></script>

<div class="row">

    <div class="col-sm-12">
        <h1>ניהול פרויקטים</h1>

    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-xs-6">
        <div class="tile-stats tile-red" ng-click="filterKolKore()">
            <div class="icon"><i class="entypo-users"></i></div>
            <div class="num" data-start="0" data-end="" data-postfix="" data-duration="1500" data-delay="0">
                {{numOfKolKore}}
            </div>

            <h3>קול קורא</h3>
        </div>

    </div>

    <div class="col-sm-3 col-xs-6" ng-click="filterGrouped()">

        <div class="tile-stats tile-aqua">
            <div class="icon"><i class="entypo-chart-bar"></i></div>
            <div class="num" data-start="0" data-end="" data-postfix="" data-duration="1500"
                 data-delay="600">
                {{numOfGrouped}}
            </div>

            <h3>מצוותים</h3>
        </div>

    </div>

    <div class="clear visible-xs"></div>

    <div class="col-sm-3 col-xs-6" ng-click="filterWaiting()">

        <div class="tile-stats tile-orange">
            <div class="icon"><i class="entypo-mail"></i></div>
            <div class="num" data-start="0" data-end="" data-postfix="" data-duration="1500"
                 data-delay="1200">{{numOfWaiting}}
            </div>

            <h3>ממתינים לאישור</h3>
        </div>

    </div>

    <div class="col-sm-3 col-xs-6" ng-click="filterAction()">
        <div class="tile-stats tile-green">
            <div class="icon"><i class="entypo-rss"></i></div>
            <div class="num" data-start="0" data-end="" data-postfix="" data-duration="1500"
                 data-delay="1800">{{numOfProccess}}
            </div>

            <h3>בפעולה</h3>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <form id="convFilter" class="form-horizontal" action="/admin/conversations/filter">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectColleges">קמפוס</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectColleges" id="filterApply.projectColleges">
                            <option value="">בחר קמפוס</option>
                            <option ng-repeat="college in colleges"
                                    value="{{college.Name}}">{{college.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectYears">שנה</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectYears" id="filterApply.projectYears">
                            <option value="">בחר שנה</option>
                            <option ng-repeat="year in filtersSet.years"
                                    value="{{year.Name}}">{{year.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectSemesters">סמסטר</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectSemesters" id="filterApply.projectSemesters">
                            <option value="">בחר סמסטר</option>
                            <option ng-repeat="semester in filtersSet.semesters"
                                    value="{{semester.Name}}">{{semester.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectStatus">שלב</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectStatus" id="filterApply.projectStatus">
                            <option value="">בחר שלב</option>
                            <option ng-repeat="status in filtersSet.statuses"
                                    value="{{status.Name}}">{{status.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectDepartments">מחלקה</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectDepartments" id="filterApply.projectDepartments">
                            <option value="">בחר מחלקה</option>
                            <option ng-repeat="department in departments"
                                    value="{{department.Name}}">{{department.Name}}
                            </option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.isPaired">מצוותים</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.isPaired" id="filterApply.isPaired">
                            <option value="">האם מצוותים? (true = כן, false = לא)</option>
                            <option ng-repeat="pairedOpts in filtersSet.pairedOpts"
                                    value="{{pairedOpts}}">{{pairedOpts}}
                            </option>
                        </select>
                    </div>
                </div>
                <form name="lecturerAddFilter">
                    <div class="form-group ">
                        <label class="col-sm-4 control-label" for="projectLecturers">מרצים </label><div ng-show="filterApply.lecturers.length > 0" onclick="jQuery('#filter-users').modal('show');" ng-click="modalState='lecturer'" class="users-counter">({{filterApply.lecturers.length}})</div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input name="projectLecturers" id="projectLecturers" type="text" placeholder="הזן שם מרצה"
                                       ng-model="filterLecturer"
                                       typeahead="lect as lecturers.firstName + ' ' + lecturers.lastName + ' - ' + lecturers.Phone for lecturers in filterByName(filtersSet.lecturers, $viewValue) | limitTo:8" class="form-control" typeahead-on-select="pickFilter($item, 'lecturer')" ng-required="true">

                                <span class="input-group-btn" ng-disabled="all">
                                    <button class="btn btn-success" type="button" ng-click="addFilter('lecturer')" ng-show="filterLecturer">הוסף!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="currStudent">סטודנטים</label><div ng-show="filterApply.students.length > 0" onclick="jQuery('#filter-users').modal('show');" ng-click="modalState='student'" class="users-counter">({{filterApply.students.length}})</div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input name="currStudent" id="currStudent" type="text" placeholder="הזן שם סטודנט"
                                   ng-model="filterStudent"
                                   typeahead="stud as students.firstName + ' ' + students.lastName + ' - ' + students.Phone  for students  in filterByName(filtersSet.students, $viewValue) | limitTo:8" class="form-control" typeahead-on-select="pickFilter($item, 'student')" ng-required="true">

                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" ng-click="addFilter('student')" ng-show="filterStudent">הוסף!</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
<div class="row" ng-show="isLoading">

    <div class="col-sm-12">

        <div class='uil-default-css' style='transform:scale(0.5);
    '><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(0deg) translate(0, -60px);
    transform: rotate(0deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(30deg) translate(0, -60px);
    transform: rotate(30deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(60deg) translate(0, -60px);
    transform: rotate(60deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(90deg) translate(0, -60px);
    transform: rotate(90deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(120deg) translate(0, -60px);
    transform: rotate(120deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(150deg) translate(0, -60px);
    transform: rotate(150deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(180deg) translate(0, -60px);
    transform: rotate(180deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(210deg) translate(0, -60px);
    transform: rotate(210deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(240deg) translate(0, -60px);
    transform: rotate(240deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(270deg) translate(0, -60px);
    transform: rotate(270deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(300deg) translate(0, -60px);
    transform: rotate(300deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(330deg) translate(0, -60px);
    transform: rotate(330deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div></div>
    </div>

</div>
<div class="row" ng-if="!projectsData.length && !isLoading">

    <div class="col-sm-12">

        <div class="alert alert-info centered"><strong>לא קיימים פרוייקטים!</strong></div>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-blue btn-icon" style="float:right; margin:5px;"
                ng-click="clearFilter()">
            נקה סינון
            <i class="entypo-ccw"></i></button>

    </div>
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
        <a href="/#/account/lecturer/project" target="_self">
            <button type="button" class="btn btn-blue btn-icon" style="float:left; margin:5px;">
                הוסף
                <i class="entypo-plus"></i></button>
        </a>
    </div>
</div>
<div class="row" ng-if="projectsData.length && !isLoading">

    <div class="col-sm-12">
        <table datatable="ng" dt-options="dtOptionsManagerProjects" dt-columns="dtColumns" id="myTable"
               class="row-border hover" style="width: 100%; margin-right: 0;">
            <thead>

            </thead>
            <tbody>
            <tr ng-repeat="project in projectsData">
                <td><a href="/#/account/manager/project/{{project._id}}"
                       class="item-name primary-link">{{ project.nameHeb }}</a></td>
                <td>
                    <div ng-class="{'label label-secondary':project.curState.curStatus==='קול קורא' ,'label label-warning':project.curState.curStatus==='ממתין לאישור' , 'label label-info':project.curState.curStatus==='ניסוח הצעה' , 'label label-success':project.curState.curStatus==='בביצוע'}">
                        {{ project.curState.curStatus }}
                    </div>
                </td>
                <td>{{ project.curState.curStage}}</td>
                <td>{{project.flow.Department.Name}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade" id="filter-users">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">סינון</h4></div>
            <div class="modal-body">
                לחץ על שם כדי להסירו מהסינון
                <ul>
                    <li ng-repeat="lecturer in filterApply.lecturers" ng-show="modalState=='lecturer'" ng-click="removeUserFilter(lecturer,'lecturer')"><b> &times; {{lecturer.firstName}} {{lecturer.lastName}}</b></li>
                    <li ng-repeat="student in filterApply.students" ng-show="modalState=='student'" ng-click="removeUserFilter(student,'student')"><b> &times; {{student.firstName}} {{student.lastName}}</b></li>
                </ul>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>