<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tblArchive').DataTable({
            "bDestroy": true,
		"dom": '<"row"<"col-md-6"l><"col-md-6 text-right"f>>>t<"panel-footer"<"row"<"col-md-6"i><"col-md-6 text-right"p>>>'
    });  
    });

</script>
<style> 
    .statuses tr td{
      border: 1px solid grey;
      text-align: center;
      padding: 3px;
      font-weight:normal;
      width: 8%;
      line-height: 16px;
      color:#000;
    }
     tr td.project_header{
        border:none;
        text-align: center;
        line-height: 25px;
    }
    .statuses th{
        text-align: center;
    }
    .statuses tr {
        margin-bottom: 7px;
    }

    .ng-button { background:green; color: white; text-decoration:none; padding:6px;
            transition:1s; height: 25px; box-shadow: 1px 1px 1px 1px black; border: 1px solid black;
            border-radius: 20px;
    }
    .ng-button:hover { background:black; color:white; text-decoration:none; border:1px solid;
        border-radius: 0px;
    }
    #tblArchive th
    {
        border-bottom: 1px solid black !important;
    }

</style>

<div class="row">
    <div class="col-lg-12">
        <form id="convFilter" class="form-horizontal" action="/admin/conversations/filter">
            <div class="col-md-4">
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-4 control-label" for="projectName">שם הפרויקט</label>-->
                    <!--<div class="col-sm-8">-->
                        <!--<input type="text" class="form-control" name="projectName" id="projectName"-->
                               <!--placeholder="שם הפרויקט או חלק ממנו" ng-model="filterApply.projectName">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectColleges">קמפוס</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectColleges" id="filterApply.projectColleges">
                            <option value="">בחר קמפוס</option>
                            <option ng-repeat="college in colleges"
                                    value="{{college.Name}}">{{college.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectYears">שנה</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectYears" id="filterApply.projectYears">
                            <option value="">בחר שנה</option>
                            <option ng-repeat="year in filtersSet.years"
                                    value="{{year.Name}}">{{year.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectSemesters">סמסטר</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectSemesters" id="filterApply.projectSemesters">
                            <option value="">בחר סמסטר</option>
                            <option ng-repeat="semester in filtersSet.semesters"
                                    value="{{semester.Name}}">{{semester.Name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="filterApply.projectDepartments">מחלקה</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="filterApply.projectDepartments" id="filterApply.projectDepartments">
                            <option value="">בחר מחלקה</option>
                            <option ng-repeat="department in departments"
                                    value="{{department.Name}}">{{department.Name}}
                            </option>
                        </select>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <form name="lecturerAddFilter">
                    <div class="form-group ">
                        <label class="col-sm-4 control-label" for="projectLecturers">מרצים </label><div ng-show="filterApply.lecturers.length > 0" onclick="jQuery('#filter-users').modal('show');" ng-click="modalState='lecturer'" class="users-counter">({{filterApply.lecturers.length}})</div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input name="projectLecturers" id="projectLecturers" type="text" placeholder="הזן שם מנחה"
                                       ng-model="filterLecturer"
                                       typeahead="lect as lecturers.firstName + ' ' + lecturers.lastName + ' - ' + lecturers.Phone for lecturers in filterByName(filtersSet.lecturers, $viewValue) | limitTo:8" class="form-control" typeahead-on-select="pickFilter($item, 'lecturer')" ng-required="true">

                                <span class="input-group-btn" ng-disabled="all">
                                    <button class="btn btn-success" type="button" ng-click="addFilter('lecturer')" ng-show="filterLecturer">הוסף!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </form>
    </div>
</div>

<div class="row" ng-show="isLoading">

    <div class="col-sm-12">

        <div class='uil-default-css' style='transform:scale(0.5);
    '><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(0deg) translate(0, -60px);
    transform: rotate(0deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(30deg) translate(0, -60px);
    transform: rotate(30deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(60deg) translate(0, -60px);
    transform: rotate(60deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(90deg) translate(0, -60px);
    transform: rotate(90deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(120deg) translate(0, -60px);
    transform: rotate(120deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(150deg) translate(0, -60px);
    transform: rotate(150deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(180deg) translate(0, -60px);
    transform: rotate(180deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(210deg) translate(0, -60px);
    transform: rotate(210deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(240deg) translate(0, -60px);
    transform: rotate(240deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(270deg) translate(0, -60px);
    transform: rotate(270deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(300deg) translate(0, -60px);
    transform: rotate(300deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div><div style='top: 80px;
    left: 93px;
    width: 14px;
    height: 40px;
    background: #00b2ff;
    -webkit-transform: rotate(330deg) translate(0, -60px);
    transform: rotate(330deg) translate(0, -60px);
    border-radius: 10px;
    position: absolute;
    '></div></div>
    </div>

</div>
<div class="row" ng-if="!projectsData.length && !isLoading">

    <div class="col-sm-12">

        <div class="alert alert-info centered"><strong>לא קיימים פרוייקטים!</strong></div>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-blue btn-icon" style="float:right; margin:5px;"
                ng-click="clearFilter()">
            נקה סינון
            <i class="entypo-ccw"></i></button>

    </div>
    <div class="col-sm-6">

    </div>
</div>
<div class="row" ng-if="projectsData.length && !isLoading">

    <div class="col-sm-12">
        <table
        class="cell-border" cellspacing="0" width="100%" datatable="ng" dt-options="dtOptionsManagerRequests" id="tblArchive">
            <thead>
                <tr>
                    <th>שם</th>
                    <th>שלב</th>
                    <th>תאור</th>
                    <th>מחלקה</th>
                    <th>העלה (PDF)</th>
                    <th>הורד (PDF)</th>
                 </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projectsData">
                <td>
                      {{ project.nameHeb }}</td>
                <td>
                    <div ng-class="{'label label-secondary':project.curState.curStatus==='קול קורא' ,'label label-warning':project.curState.curStatus==='ממתין לאישור' , 'label label-info':project.curState.curStatus==='ניסוח הצעה' , 'label label-success':project.curState.curStatus==='בביצוע'}">
                        {{ project.curState.curStatus }}
                    </div>
                </td>
                <td>{{ project.shortDescription}}</td>
                <td>{{project.flow.Department.Name}}</td>
                <td style="text-align:center;">
                   
                        <button type="button" class="ng-button" 
                        type="file" 
                        ngf-select="submFile($file,$invalidFiles,project,$index)" 
                        ngf-pattern="'.pdf'" 
                        accept=".pdf" 
                        ngf-max-height="5000" 
                        ngf-max-size="5MB"> העלה קובץ</button>
                        <i ng-show="Show($index)">Invalid size 
                          max 5M or format</i>
                </td>
                <td style="text-align:center;">
                    <button type="button" ng-show="checkIfPdfExists(project)" class="ng-button" ng-click="downloadPdf(project)">הורד קובץ</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="filter-users">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">סינון</h4></div>
            <div class="modal-body">
                לחץ על שם כדי להסירו מהסינון
                <ul>
                    <li ng-repeat="lecturer in filterApply.lecturers" ng-show="modalState=='lecturer'" ng-click="removeUserFilter(lecturer,'lecturer')"><b> &times; {{lecturer.firstName}} {{lecturer.lastName}}</b></li>
                    <li ng-repeat="student in filterApply.students" ng-show="modalState=='student'" ng-click="removeUserFilter(student,'student')"><b> &times; {{student.firstName}} {{student.lastName}}</b></li>
                </ul>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
