<script type="text/javascript">
    $(document).ready(function () {
        $('#managerDashboard').DataTable();
    });


</script>

<div class="row">
    <div class="col-sm-12">

    </div>
</div>
<div class="row">

    <div class="col-sm-12">

        <table datatable="ng" id="managerDashboard" class="row-border hover" dt-options="dtOptions">
            <thead>
            <tr>
                <th>שם</th>
                <th>מרצים</th>
                <th>תיאור</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="request in requestsData">
                <td><a href="/#/account/manager/request/{{request._id}}"
                       class="item-name primary-link">{{ request.projectName }}</a></td>
                <td>
                    <ul>
                        <li ng-repeat="item in request.lecturers">
                            {{item.name}}
                        </li>
                    </ul>
                </td>
                <td>{{ request.shortDescription}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>