<div class="timeline-centered">
    <article class="timeline-entry">
        <div class="timeline-entry-inner">
            <time class="timeline-time" datetime="2016-06-08T03:45"><span>03:45 AM</span> <span>Today</span></time>
            <div class="timeline-icon bg-success"><i class="entypo-feather"></i></div>
            <div class="timeline-label"></div>
        </div>
    </article>
    <article class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
            <time class="timeline-time" datetime="2016-06-08T03:45"><span>03:45 AM</span> <span>Today</span></time>
            <div class="timeline-icon bg-secondary"><i class="entypo-suitcase"></i></div>
            <div class="timeline-label"></div>
        </div>
    </article>
    <article class="timeline-entry">
        <div class="timeline-entry-inner">
            <time class="timeline-time" datetime="2016-06-07T13:22"><span>03:45 AM</span> <span>Today</span></time>
            <div class="timeline-icon bg-info"><i class="entypo-location"></i></div>
            <div class="timeline-label">
            </div>
        </div>
    </article>
    <article class="timeline-entry left-aligned">
        <div class="timeline-entry-inner">
            <time class="timeline-time" datetime="2016-06-08T03:45"><span>03:45 AM</span> <span>Today</span></time>
            <div class="timeline-icon bg-warning"><i class="entypo-camera"></i></div>
            <div class="timeline-label">
            </div>
        </div>
    </article>
    <article class="timeline-entry begin">
        <div class="timeline-entry-inner">
            <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);"><i
                    class="entypo-flight"></i></div>
        </div>
    </article>
</div>