<div class="panel-title">
    Styled File Input
</div>
<div class="panel-options"> <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i class="entypo-cog"></i></a> <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a> <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a> <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
</div>
<div class="panel-body" style="display: block;">
    <form role="form" class="form-horizontal form-groups-bordered">
        <div class="form-group">
            <label class="col-sm-3 control-label">Normal File Input</label>
            <div class="col-sm-5"> <input type="file" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Replaced File Input</label>
            <div class="col-sm-5"> <a class="file-input-wrapper btn form-control file2 inline btn btn-primary"><i class="glyphicon glyphicon-file"></i> Browse<input type="file" class="form-control file2 inline btn btn-primary" data-label="<i class='glyphicon glyphicon-file'></i> Browse"></a> </div> </div> <div class="form-group"> <label class="col-sm-3 control-label">Multiple files</label> <div class="col-sm-5"> <a class="file-input-wrapper btn form-control file2 inline btn btn-primary"><i class="glyphicon glyphicon-circle-arrow-up"></i> &nbsp;Browse Files<input type="file" class="form-control file2 inline btn btn-primary" multiple="1" data-label="<i class='glyphicon glyphicon-circle-arrow-up'></i> &nbsp;Browse Files"></a> </div> </div> </form> </div>